@import url(//db.onlinewebfonts.com/c/47f9ef1694f83081f3916f938915af8d?family=Linux+Biolinum);

@font-face {font-family: "Linux";
           src: url("//db.onlinewebfonts.com/t/47f9ef1694f83081f3916f938915af8d.eot");
           src: url("//db.onlinewebfonts.com/t/47f9ef1694f83081f3916f938915af8d.eot?#iefix")
           format("embedded-opentype"), url("//db.onlinewebfonts.com/t/47f9ef1694f83081f3916f938915af8d.woff2")
           format("woff2"), url("//db.onlinewebfonts.com/t/47f9ef1694f83081f3916f938915af8d.woff")
           format("woff"), url("//db.onlinewebfonts.com/t/47f9ef1694f83081f3916f938915af8d.ttf")
           format("truetype"), url("//db.onlinewebfonts.com/t/47f9ef1694f83081f3916f938915af8d.svg#Linux Biolinum")
           format("svg"); }

html {
  width: 100vw;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: black !important;
  background: url('./assets/images/bg-curtains.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  font-family: 'Linux' !important;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@media only screen and (max-width: 600px) {
  body {
    background: url('./assets/images/bg-curtains-mobile.jpg') no-repeat center center fixed;
    background-size: cover;
  }
}

h1 {
  font-size: 1.5em;
}

h2 {
  font-size: 1.25em;
  color: #eba6a6;
}

h3 {
  font-size: 1em;
  color: #ffffff;
  font-style: italic;
}

p {
  font-size: 1.1em;
}

a:link {
  color:#ffffff;
  text-decoration:none;
}

a:visited {
  color:#ffffff;
  text-decoration:none;
}

a:hover {
  color:#ffffff;
  text-decoration:none;
}

a:active {
  color:#ffffff;
  text-decoration:none;
}

/* Styling for text, links, and boarder box on all pages */

.date {
  font-weight: normal;
}

.download {
  font-size:0.90em;
  color:#b0c0e9;
}

.WhatsNew, .Talents, .RecordingsOriginal, .RecordingsOther, .SheetMusicOther {
  margin-top: 125px;
  color: white;
  text-align: center;
  background-color: rgb(59, 46, 46, .6);
  border-radius: 10px;
  border: darkgray solid 1px;
  padding: 25px;
}

.newText a:link {
  color:#508ED8;
  text-decoration:none;
}

.newText a:visited {
  color:#8E79A5;
  text-decoration:none;
}

.newText a:hover {
  color:#7EBAFF;
  text-decoration:none;
}

.newText a:active {
  color:#ffffff;
  text-decoration:none;
}


@media only screen and (max-width: 1024px) and (min-width: 768px) {
  .WhatsNew, .Talents, .RecordingsOriginal, .Home {
    width: 90%;
    margin-left: 75px;
}
}

/* fade in */
.fade-in {
  animation: fade 0.9s ease-in;
}

@keyframes fade {
  0% {
      opacity: 0;
  }
}