.NavBar {
    background-color: black;
}

/* .banner {
    overflow: hidden;
    width: 100vw;
    border-radius: 10px;
}

img {
    border-radius: 10px;
} */

.nav1 {
    background-color: black;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    min-height: 100vh !important;
    z-index: 100;
    padding: 48px 0 0;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);

}

/* @media only screen and (max-width: 600px) {
    #bannerImg1 {
        display: none;
    }

    #bannerImg2 {
        width: 90vw;
    }
}

@media only screen and (min-width: 600px) {
   #bannerImg2 {
        display: none;
    }

    #bannerImg1 {
        height: 150px;
    }
} */